.container {
  width: 450px;
  margin: auto auto;
  margin-top: 20px;
  background-color: #E7ECEF;
  border: 2px solid #274C77;
  border-radius: 5px;
}

.todo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 10px;
}

.container h1 {
  text-align: center;
}

.todo-wrapper {
  text-align: center;
}

.todo-wrapper #todos {
  background-color: #A3CEF1;
  width: 90%;
  margin: auto;
}

.complete-btn {
  width: 20px;
  height: 20px;
}

.toggle-complete-btn {
  background-color: red;
}

.todo-content {
  padding-left: 8px;
}

.todo-delete-btn {
  background-color: #274C77;
  color: white;
  border-radius: 3px;
  margin-left: auto;
  margin-right: 15px;
}

.todo-wrapper #allFilter {
  border-radius: 3px;
  text-align: center;
  background-color: #274C77;
  color: white;
  margin-left: 10px;
  width: 100px;
}

.todo-wrapper #activeFilter, .todo-wrapper #completedFilter {
  border-radius: 3px;
  text-align: center;
  background-color: #274C77;
  color: white;
  margin: 5px;
  width: 100px;
}

.add-todo-wrapper {
  display: flex;
  width: 100%;
}

.add-todo-wrapper #todoInput{
  border-radius: 3px;
  margin: 25px;
  width: 70%;
}

.add-todo-wrapper #addBtn {
  text-align: center;
  background-color: #274C77;
  color: white;
  border-radius: 3px;
  margin-left: 15px;
  margin-top: 22px;
  height: 22px;
}