body {
    background-color: #F9C74F;
    padding: 1.5rem;
    padding-top: 2.5rem;
}

.quiz-body {
    background-color: #E9E9EC;
    font-family: 'Architects Daughter', cursive;
    width: 80%;
    margin: auto auto;
    padding: 1.5rem;
}

header {
    text-align: center;
}

.work_area {
    display: inline;
}

.flashcard {
    display: inline;
    padding: .75rem;
    text-align: center;
    font-size: x-large;
}

.red {
    color: #F9393C
}

.blue {
    color: #5386E4;
}

.green {
    color: #3FA261;
}

.orange {
    color: #F76926;
}

.user_answer {
    text-align: center;
    padding: .75rem;
}

#answer {
    font-family: 'Architects Daughter', cursive;
    height: 2rem;
    font-size: x-large;
    
}

.buttons {
    text-align: center;
    padding: .75rem;
}

#answer_submit, #hint_button {
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    width: 15rem;
    height: 2.5rem;
    background-color: #3FA261;
}

#level1Start, #level2Start, #level3Start, #level4Start {
    font-family: 'Architects Daughter', cursive;
    font-size: large;
    width: 15rem;
    height: 3.5rem;
    background-color: #3FA261;
    margin-top: .75rem;
}

.hint {
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.scoreboard {
    padding: .5rem;
    color: #F76926;
    font-size: x-large;
}

